.quick-guide{
  background:url("../images/bg-3-1-1.png") no-repeat;

}

.map-list{

  &-item{

  }

}

.item-map{
  display:block;

  &-mask{
    width:850px;
    height:498px;
    overflow:hidden;
    margin-bottom:50px;
  }

}

.course-select{
  width:850px;
  height:68px;
  border:3px solid #ffcd12;
  box-sizing:border-box;

}